body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background-color: #232323;
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,04));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.first{
  background-image: url("firstcourse.jpg");
}
.second{
  background-image: url("secondcourse.jpg");
}
.dessert{
  background-image: url("dessertcourse.jpg");
}
.pizza{
  background-image: url("pizzacourse.jpg");
}
.upma{
  background-image: url("upmacourse.jpg");
}
.sandwich{
  background-image: url("sandwichcourse.jpg");
}
.price {
  float: right;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  text-align: center;
  margin: 60px 0 0 0;
  color: #aaaaaa;
}
h2 {
  text-align: center;
  margin: 0 0 70px 0;
  color: #bbbbbb;
}
small {
  opacity: 0; 
}



@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
   
}